{# app/Resources/views/wedding/start.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}: Defaultsite{% endblock %}

{% block pageheader %}{{ labels.startsite }}{% endblock %}


{% block body %}
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-body">
				<p>
					{{ labels.startsitetext1 }}
				</p>
			</div>
		</div>
	</div>
	
	<!-- /.row -->
{% endblock %}	
