{# app/Resources/views/wedding/contact.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}: {{ labels.contactsite }}{% endblock %}

{% block pageheader %}{{ labels.contactsite }}{% endblock %}


{% block body %}
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-body">
				<p>
					<h3>Ari</h3>
					<div>E-Mail: ari.ikalainen@hotmail.com</div>
					<div>Tel.: +41 76 396 6184</div>
					
					<h3>Satu</h3>
					<div>E-Mail: satuylit@gmail.com</div>
					<div>Tel.: +41 76 396 6184</div>
				</p>
				
				
			</div>
		</div>
	</div>
	
	<!-- /.row -->
{% endblock %}	
		