{# app/Resources/views/wedding/gifts.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}: {{ labels.giftssite }}{% endblock %}

{% block pageheader %}{{ labels.giftssite }}{% endblock %}


{% block body %}
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-body">
				<p>
					{{ labels.giftstext1|raw }}
				</p>
								
			</div>
		</div>
	</div>
	
	<!-- /.row -->
{% endblock %}	
		