{# app/Resources/views/wedding/registrationcompleted.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}: {{ labels.registrationsite }}{% endblock %}

{% block pageheader %}{{ labels.registrationsite }}{% endblock %}


{% block body %}
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-body">
				<p>
					Registration completed!
					
				</p>
				
			</div>
		</div>
	</div>
	
	<!-- /.row -->
{% endblock %}	
		