{# app/Resources/views/wedding/registrationcompleted.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}: {{ labels.registrationsite }}{% endblock %}

{% block pageheader %}{{ labels.registrationsite }}{% endblock %}


{% block body %}
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-body" style="text-align:center;">
				<p>
					{{ labels.thankyouforregistration }}
				</p>
				
				<div>
					<img src="/img/kiitos_kuva.jpg" style="width:30%; height:auto;">
				</div>
				
			</div>
		</div>
	</div>
	
	<!-- /.row -->
{% endblock %}	
		