{# app/Resources/views/wedding/start.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}: Startsite{% endblock %}

{% block pageheader %}Startsite{% endblock %}


{% block body %}
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-body">
				<p>
				,,{{ labels.label1 }},,
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, optio corporis quae nulla aspernatur in alias at numquam rerum ea excepturi expedita tenetur assumenda voluptatibus eveniet incidunt dicta nostrum quod?</p>
				
			</div>
		</div>
	</div>
	
	<!-- /.row -->
{% endblock %}	
